root = true

[*.cs]

dotnet_analyzer_diagnostic.severity = warning

dotnet_diagnostic.CA1062.severity = warning
dotnet_diagnostic.CA1822.severity = warning
dotnet_diagnostic.CA2000.severity = warning
dotnet_diagnostic.CA2012.severity = warning
dotnet_diagnostic.CA1508.severity = warning

dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.IDE0022.severity = none
dotnet_diagnostic.SA1309.severity = none
dotnet_diagnostic.SA1201.severity = none
dotnet_diagnostic.IDE0009.severity = none
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.IDE0058.severity = none
dotnet_diagnostic.SA1134.severity = none
dotnet_diagnostic.SA1010.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1516.severity = none
dotnet_diagnostic.CA1050.severity = none
dotnet_diagnostic.RCS1110.severity = none
dotnet_diagnostic.RCS1169.severity = none
dotnet_diagnostic.RCS1146.severity = none
dotnet_diagnostic.RCS1084.severity = none
dotnet_diagnostic.IDE0010.severity = none
dotnet_diagnostic.SA1514.severity = none
dotnet_diagnostic.CA1051.severity = none
dotnet_diagnostic.SA1401.severity = none
dotnet_diagnostic.SA1214.severity = none
dotnet_diagnostic.IDE0032.severity = none
dotnet_diagnostic.IDE0072.severity = none
dotnet_diagnostic.SA1203.severity = none
dotnet_diagnostic.SA1202.severity = none
dotnet_diagnostic.SA1515.severity = none
dotnet_diagnostic.SA1512.severity = none
dotnet_diagnostic.SA1204.severity = none
dotnet_diagnostic.SA1009.severity = none
dotnet_diagnostic.RCS1161.severity = none
dotnet_diagnostic.IDE0130.severity = none
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.IDE0025.severity = none
dotnet_diagnostic.SA1629.severity = none
dotnet_diagnostic.SA1127.severity = none
dotnet_diagnostic.SA1111.severity = none
dotnet_diagnostic.SA1513.severity = none
dotnet_diagnostic.RCS1168.severity = none
dotnet_diagnostic.CA1725.severity = none
dotnet_diagnostic.IDE0290.severity = none
dotnet_diagnostic.CA1002.severity = none
dotnet_diagnostic.SA1115.severity = none
dotnet_diagnostic.SA1114.severity = none
dotnet_diagnostic.IDE0046.severity = none
dotnet_diagnostic.SA1310.severity = none
dotnet_diagnostic.CA1707.severity = none


# ! Temporarily removed, to add back
dotnet_diagnostic.SA1503.severity = none
dotnet_diagnostic.IDE0011.severity = none
dotnet_diagnostic.CA2213.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.SA1413.severity = none
dotnet_diagnostic.CA2000.severity = none
dotnet_diagnostic.CA1721.severity = none
dotnet_diagnostic.RCS1141.severity = none
dotnet_diagnostic.CA1001.severity = none
dotnet_diagnostic.CA1815.severity = none
dotnet_diagnostic.CA1814.severity = none



dotnet_style_require_accessibility_modifiers = always:warning
dotnet_style_qualification_for_field = true:warning
dotnet_style_qualification_for_property = true:warning
dotnet_style_qualification_for_method = true:warning

csharp_style_var_for_built_in_types = false:warning
csharp_style_var_when_type_is_apparent = false:warning
csharp_style_var_elsewhere = false:warning

csharp_style_expression_bodied_methods = false:warning
csharp_style_expression_bodied_properties = false:warning
